body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
    
    
}

.newspaper-container {
    background-color: white;
    box-shadow: 2px 2px 4px #ddd;
    width: 700px;
    border-radius: 1%;
    padding: 50px;
    margin: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

h4 {
    font-family: 'Roboto Slab', serif;
}

a {
    color: #777;
}

nav {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}
nav li {

    list-style: none;
    display: inline-block;
    padding: 5px; 
} 

main {
    width: 600px;
    text-align: justify;
    margin: auto;
}

.more-articles section {
    display: inline-block; 
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: justify;
} 

.bonus section {
    display: inline-block;
    margin: auto;
    width: 190px;
    text-align: justify;
    padding: 10px;
    font-size: 14px;
} 

h5 {
    font-family: 'Roboto Slab', serif;
}

footer {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
}

footer ol li {
    list-style: none;
    display: inline-block;
    padding: 3px;
    font-size: 12px;
}
