body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
    
}

.newspaper-container {
    background-color: white;
    box-shadow: 2px 2px 4px #ddd;
    width: 700px;
    border-radius: 1%;
    padding: 50px;
    margin: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}

a {
    color: #777;
}

nav li {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    list-style: none;
    display: inline-block;
    padding: 5px; 
} 

main {
    width: 600px;
    text-align: justify;
}

.more-articles section{
    display: inline-block; 
    width: 250px;
    margin: auto;
    padding: 20px;
    text-align: justify;
} 

